<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <!-- Paramètres de connexion à la base de données -->
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ecommerce</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">cytech0001</property>

        <!-- Options de journalisation -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entités à scanner-->
        <mapping class="entity.Administrateur" />
        <mapping class="entity.Client" />
        <mapping class="entity.Commande"/>
        <mapping class="entity.CompteBancaire"/>
        <mapping class="entity.DetailCommande"/>
        <mapping class="entity.Paiement"/>
        <mapping class="entity.Produit"/>
        <mapping class="entity.Role"/>
        <mapping class="entity.Utilisateur"/>


    </session-factory>
</hibernate-configuration>
